@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;

}

body{
    height:100vh
}
.ql-editor{
    font-size:1.05rem
}




.test {
        border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;
  
            font-size: 1.6rem;
            display: grid;
            place-items: center;
            min-height: 200px;
            border: 8px solid;
            padding: 1rem;
 
}